<form method="get" action="/quizes">
  <p>
    <label for="search">Buscar pregunta: </label>
  </p>
  <input type="text" name="search" />
  <input type="submit" value="Buscar" />
</form>

<%
if (quizes.length) {
%>

<table>
  <% for(var i=0; i < quizes.length; i++) { %>
    <tr>
      <td>
        <a href="/quizes/<%= quizes[i].id %>">
          <%= quizes[i].pregunta %>
        </a>
      </td>
      <td>
        <a href="/quizes/<%= quizes[i].id %>/editar">
          <button>Editar</button>
        </a>
      </td>
      <td>
        <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
          <button type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>')">
            Borrar
          </button>
        </form>
      </td>
    </tr>
  <% } %>
</table>

<%
}
else {
%>

<p>Lo sentimos, no hay preguntas para mostrar</p>

<%
}
%>

<a href="/quizes/nueva"><button type="button">Crear nueva pregunta</button></a>
